services:
  reverse-proxy:
    container_name: nest_url_shortner-reverse-proxy
    image: nginx:latest
    depends_on:
      - app
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80
    networks:
      - dev

  app:
    container_name: nest-url-shortner-app
    build:
      context: ../
      dockerfile: docker/url-shortner-prod/Dockerfile
    restart: always
    env_file:
    - .env.production 
    networks:
      - dev

networks:
  dev:
    driver: bridge
    name: 'nest-url-shortner'
